loaders:
  - type: haystack_pydoc_tools.loaders.CustomPythonLoader
    search_path: [../../../]
    modules:
      [
        "haystack_experimental.components.retrievers.chat_message_retriever",
        "haystack_experimental.components.retrievers.in_memory.bm25_retriever",
        "haystack_experimental.components.retrievers.in_memory.embedding_retriever",
      ]
    ignore_when_discovered: ["__init__"]
processors:
  - type: filter
    expression:
    documented_only: true
    do_not_filter_modules: false
    skip_empty_modules: true
  - type: smart
  - type: crossref
renderer:
  type: haystack_pydoc_tools.renderers.ReadmeCoreRenderer
  excerpt: Sweep through Document Stores and return a set of candidate documents that are relevant to the query.
  category_slug: experiments-api
  title: Retrievers
  slug: experimental-retrievers-api
  order: 40
  markdown:
    descriptive_class_title: false
    classdef_code_block: false
    descriptive_module_title: true
    add_method_class_prefix: true
    add_member_class_prefix: false
    filename: experimental_retrievers_api.md
