name: Licensing

on:
  pull_request:
    paths:
      - "haystack_experimental/**/*.py"
      - "test/**/*.py"
      - "pyproject.toml"

jobs:
  license-header:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Check License Header
        run: docker run --rm -v "$(pwd):/github/workspace" ghcr.io/korandoru/hawkeye check
